/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  background: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}

.container {
  background: #fff;
  margin: 10px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

input {
  border: none;
}

h1 {
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

input {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  width: 100%;
  font-size: 24px;
  font-style: italic;
  box-sizing: border-box;
  outline: none;
}

input::placeholder {
  color: #e6e6e6;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding: 15px 15px 15px 60px;
  display: flex;
  justify-content: space-between;
  
}

.delete-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

li:hover .delete-icon {
  opacity: 1;
}